<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foreign Labs</title>
        <link rel="icon" href="/assets/fl_small.png">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/topnav.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/"><img id="logo" src="/assets/fl_large.png" height="48px"></a>

            <div class="links">
                <a href="/echo">The E.C.H.O Program</a>
            </div>
        </div>

        <div class="mainblock">
            <h1 style="font-size: 48px">Welcome to Foreign</h1>
            <h3 style="font-size: 28px">Where answers are key</h3>

            <p id="aboutus">Here at Foreign Labs, we strive to explore the unknown and adventure beyond normal understanding. 
            When people have questions, we have answers. And when we don't, we find them.</p>
        </div>

        <div class="echoblock">
            <h1 style="font-size: 48px">The E.C.H.O Program</h1>
            <br>
            <h3 style="font-size: 28px">What is the E.C.H.O program?</h3>
            <p id="about">The E.C.H.O program is a team of secret top tier researchers and fighters whos only job is to prevent wars and find answers to things that we at Foreign
            cannot explain.</p>
            <br>
            <h3 style="font-size: 28px">Where is E.C.H.O HQ?</h3>
            <p id="about">The E.C.H.O HQ is not a publicly available facility due to the nature of their jobs. 
            Exposing the E.C.H.O facility cause bring catastrophic consequences that could destroy the program.</p>
            <br><br><br>
            <a href="/echo">Learn More</a>
        </div>

        <div class="footer">
            <p style="color: #3b5c72; font-size: 18px;">Foreign Labs and E.C.H.O are not legit companies and created completely for the Eclipse SMP.</p>
        </div>
    </body>
</html>